<%- include('partials/header'); %>
<div class="row" style="background-color: rgb(104, 101, 101) ;">
    <div class="col heya" >
        <div class="hey">
        <div class="top">
            <h1 style="text-align: center;"><u>TOPICS</u></h1>
        </div>
        <div class="topics">
            <div class="points">
                <ul style="list-style-type:none;" class="list">
                    <li><a href="/blogs/academics"><i class="pencil alternate small icon"></i>Academics</a></li>
                    <li><a href="/blogs/hostel"><i class="home small icon"></i>Hostel</a></li>
                    <li><a href="/blogs/mess"><i class="Food small icon"></i>Mess</a></li>
                    <li><a href="/blogs/roomallotment"><i class="bed small icon"></i>Room Allotment</a></li>
                    <li><a href="/blogs/books"><i class="Book small icon"></i>Books</a></li>
                    <li><a href="/blogs/projects"><i class="Text File small icon"></i>Projects</a></li>
                    <li><a href="/blogs/faculty"><i class="male small icon"></i>Faculty</a></li>
                    <li><a href="/blogs/subjects"><i class="clipboard outline small icon"></i>Subjects</a></li>
                    <li><a href="/blogs/ffcs"><i class="Desktop small icon"></i>FFCS</a></li>
                    <li><a href="/blogs/transport"><i class="car small icon"></i>Transport</a></li>
                </ul>
            </div>
        </div>
        </div>
    </div>
    <div class="col hi" >
        
        <div class="ui main text " >
        <div class="ui huge header" style="margin-top: 100px;">Posts</div>
        <div class="ui top attached segment" style="background-color: rgb(104, 101, 101);border: 1px solid rgb(104, 101, 101);">
            <div class="ui items">
                <% blogs.forEach(function(blog){ if(blog.title!=null ) {
                    %>
                    <div class="item sam">
                        
                        <div class="content" style="color: white;">
                            <div class="meta" style="margin: 10px;">
                                <div class="tooltip" style="font-size:small;color: rgb(252, 255, 102);"><%= blog.name %><span class="tooltiptext" style="visibility: hidden;width: 120px;background-color: rgb(0, 0, 0);color: rgb(115, 255, 0);text-align: center;border-radius: 6px;padding: 5px 0;position: absolute;z-index: 1;">HEYA</span><span style="color: white;font-size: small;">- <%= blog.created.toDateString() %></span></div>
                            </div>
                            <a class="header" href="/blogs/<%= blog._id %>" style="color: rgb(16, 188, 240);margin-top: 5px;margin-bottom: 10px;"><%= blog.title %></a>
                            <div>
                                 <% if( blog.body[0]!=null ){
                                     if(blog.body[0].ans!=""){%>
                                    <div style="padding-right: 10px;">
                                        <div class="meta" style="border: 0.5px solid white; margin-top: 10px;color: rgb(255, 255, 255);background-color:rgb(80, 78, 78);height: auto;margin-bottom: 10px;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;border-radius: 10px;padding-right: 5px;">
                                            <div style="margin-bottom: 10px;width: 60%;">
                                                <snap  style=" color: rgb(102, 255, 0);padding-bottom: 5px;border-bottom: 0.2px solid black;width: 60%;"><%= blog.body[0].name%></span>
                                                
                                            </div>
                                            <div style="padding-top: 5px;">
                                                <span style="font-size: medium;"><%= blog.body[0].ans %></span> 
                                            </div>
                                           
                                        </div >
                                       
                                    </div>
                                <%} }%>
                                    
                                
                            </div>
                            
                            <div class="extra">
                                <a class="ui basic mini violet button" href="/blogs/<%=blog._id %>">
                                    Ans This?
                                    
                                </a>
                                <a class="ui basic mini yellow  button " style="display: inline;" href="/blogs/<%=blog._id %>/view">
                                    View Answers
                                </a>
                            </div>
                        </div> 
                    </div>
                <% }}) %>
            </div>
        </div>
    </div>
    </div>
</div>


<%- include('partials/footer');%>