<%- include('partials/header'); %>

    <div class="col heya" >
        <div class="hey1">
        <div class="top">
            <h1 style="text-align: center;font-family: 'Montserrat', sans-serif;"><u>TOPICS</u></h1>
        </div>
        <div class="topics">
            <div class="points">
                <div style="list-style-type:none;" class="list">
                    <a href="/blogs/academics"><i class="pencil alternate large icon"></i>Academics</a>
                    <a href="/blogs/hostel"><i class="home large icon"></i>Hostels</a>
                    <a href="/blogs/mess"><i class="Food large icon"></i>Mess</a>
                    <a href="/blogs/roomallotment"><i class="bed large icon"></i>Room Allotment</a>
                    <a href="/blogs/books"><i class="Book large icon may"></i>Books</a>
                    <a href="/blogs/projects"><i class="Text File large icon"></i>Projects</a>
                    <a href="/blogs/faculty"><i class="male large icon"></i>Faculty</a>
                    <a href="/blogs/subjects"><i class="clipboard outline large icon"></i>Subjects</a>
                    <a href="/blogs/ffcs"><i class="Desktop large icon"></i>FFCS</a>
                    <a href="/blogs/transport"><i class="car large icon"></i>Transport</a>
                    
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col hi" >
        
        <div class="ui main text " >
        <div class="ui huge header" style="margin-top: 100px;">Posts</div>
        <div class="ui top attached segment" style="background-color: transparent;border: 1px solid transparent;">
            <div class="ui items">
                <% blogs.forEach(function(blog){ if(blog.title!=null ) {
                    %>
                    <div class="item sam">
                        
                        <div class="content" style="color: white;">
                            <div class="meta" style="margin: 10px;">
                                <div class="tooltip" style="font-size:small;color: rgb(252, 255, 102);"><%= blog.name %><span class="tooltiptext" style="visibility: hidden;width: 120px;background-color: rgb(0, 0, 0);color: rgb(115, 255, 0);text-align: center;border-radius: 6px;padding: 5px 0;position: absolute;z-index: 1;">HEYA</span><span style="color: white;font-size: small;">- <%= blog.created.toDateString() %></span></div>
                            </div>
                            <a class="header" href="/blogs/<%= blog._id %>" style="color: rgb(16, 188, 240);margin-top: 5px;margin-bottom: 10px;"><%= blog.title %></a>
                            <div>
                                 <% if( blog.body[0]!=null ){
                                     if(blog.body[0].ans!=""){%>
                                    <div >
                                        <div class="meta" style="margin-top: 10px;color: rgb(255, 255, 255);background-color:rgb(3, 39, 30);height: auto;margin-bottom: 10px;padding-top: 15px;padding-bottom: 15px;padding-left: 10px;border-radius: 10px;padding-right: 5px;">
                                            <div style="margin-bottom: 10px;width: 60%;">
                                                <snap  style=" color: rgb(102, 255, 0);padding-bottom: 5px;border-bottom: 0.2px solid black;width: 60%;"><%= blog.body[0].name%></span>
                                                
                                            </div>
                                            <div style="padding-top: 5px;">
                                                <span style="font-size: medium;line-height: 30px;"><%= blog.body[0].ans %></span> 
                                            </div>
                                           
                                        </div >
                                       
                                    </div>
                                <%} }%>
                                    
                                
                            </div>
                            
                            <div class="extra">
                                <a class="btn btn-light" href="/blogs/<%=blog._id %>">
                                    <b>Ans This?</b>
                                    
                                </a>
                                <a class="btn btn-warning" style="display: inline;" href="/blogs/<%=blog._id %>/view">
                                   <b>View Answers (<%= blog.body.length%>)</b> 
                                </a>
                            </div>
                        </div> 
                    </div>
                <% }}) %>
            </div>
        </div>
    </div>
    </div>
</div>


<%- include('partials/footer');%>