<%- include('partials/header'); %>
<div class="ui main text container segment" style="margin-top:7em;background-color: black;border-radius: 10px;border: 1px solid white;width: 500px;margin-bottom: 245px;">
    <div class="ui huge header" style="color: white;"><%= blog.title %></div>
    <form class="ui form" >
       
        <div class="field">
            <label style="color: white;">Answers (<%=count%>)</label>
            <div style="background-color: black;">
                
                <% for(var i=0;i<blog.body.length;i++){ if(blog.body[i].ans!=""){%>

                <div style="padding-left: 10px;background-color: rgb(80, 78, 78);color: white;border-radius: 10px;margin-bottom: 15px;border: 0.1px solid white;padding-top: 10px;padding-bottom: 10px;">
                    <div style="color:rgb(102, 255, 0); border-bottom: 0.2px solid black;width: 90%;">
                        <span style="padding-top: 10px;padding-bottom: 10px;"><%= blog.body[i].name%></span>
                    </div>
                   
                    <div style="font-size:medium">
                        <span style="padding-bottom: 10px;"><%= blog.body[i].ans%></span>
                    </div>
                    
                </div>
            <%}}%>
            </div>
           
        </div>
    
  
        

    <a class="ui basic violet small button" href="/blogs/<%=blog._id %>">Ans this?</a>
    <a style="display: inline; " class="ui basic yellow small button" href="/blogs">BACK</a>
</form>
</div>
<%- include('partials/footer'); %>